<% if flash.now[:error] %>
  $("#flash-messages").append(`
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= j flash.now[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  `);
  setTimeout(function() {
  $(".alert").alert('close');
  }, 5000);
<% end %>
