<h1>Editing Config Formulario Pregunta</h1>

<%= render 'form', config_formulario_pregunta: @config_formulario_pregunta %>

<%= link_to 'Show', @config_formulario_pregunta %> |
<%= link_to 'Back', config_formulario_preguntas_path %>
